.left-panel__main {
	margin-top: 60px;
	width: var(--leftPanel-width);
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
}

.left-panel__wrapper {
	display: flex;
	justify-content: space-between;
}

.verticalDivider {
	border-left: 1px solid rgb(219, 219, 219);
	height: 100vh;
}

.left-panel__inputsWrapper {
	padding: 10px;
}
